<h1>Hello!</h1>

<p>To enter the site please log in.</p>

<form action="/" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Login</label>
    <input name="main_login" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your login">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="main_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
  </div>
  
  <button type="submit" class="btn btn-primary">Log in</button>
</form>