<h2>Book a haircut</h2>

<p>On this page you can book a haircut.</p>

<form action="/visit" method="post">
  <div class="mb-3">
    <label class="form-label">Your name</label>
    <input name="user_name" type="text" class="form-control" placeholder="Enter your name">
  </div>
  
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>